body {
  font-family: Arial, sans-serif;
  background: #f5f8ff;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 220px;
  background: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #eee;
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  font-weight: bold;
}

.card p {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.card .logo {
  width: 70px;
  height: auto;
  margin-top: 8px;
  object-fit: contain;
}
